/* main */



.menu_bar a{
	color: black;
}
.card-div{
	color: black;
	border-radius: 20px;
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
	transition: 0.4s;
}
.card-div:hover{
	transition: 0.4s;
	box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.25);
}
.in_card{
	background-color: #E40000;
	color: white;
	border-radius: 5px;
	border: 0px;
}


.form-check-input{
	background-color: #E40000 !important;
}

@media (max-width: 767px) {
	.form_oformit{
	
	}
    .oformit{
		
	}
}

/* Скрыть кнопку "В корзину" на мобильных устройствах */
@media (max-width: 767px) {
    .addToCartButton.desktop {
        display: none;
    }
    .addToCartButtonMobile.mobile {
        display: inline-block;
    }
}

/* Скрыть кнопку "+" на десктопе */
@media (min-width: 768px) {
    .addToCartButtonMobile.mobile {
        display: none;
    }
}

.card-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
    border-radius: 10px;
}

.card-div:hover {
    box-shadow: 0 0 35px 3px rgba(0, 0, 0, 0.25);
}

.card_image {
    position: relative;
    width: 100%;
    padding-top: 75%;
}

.card_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tovar_name {
    margin: 1rem 0;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tovar_info {
    display: flex;
    flex-direction: column;
}

.tovar_info .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in_card {
    background-color: #E40000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.2rem 1rem;
    font-weight: bold;
    cursor: pointer;
}

.in_card:hover {
    background-color: #c30000;
}

@media (max-width: 768px) {
    .tovars .tovar_info .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .tovars .tovar_info .d-flex .cena {
        margin-bottom: 0.5rem;
    }
    .tovars .tovar_info .d-flex form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5rem;
    }
    .tovars .tovar_info .d-flex form input.in_card {
        width: 100%;
    }
    .tovars .tovar_name {
        margin: 0;
    }
    .cena {
        text-align: center;
    }
}