/* main */

main{
	margin-top: 50px;
}

.menu{
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 30px;
}

.all{
	display: flex;
}

.card_image{
	/* background-color: aqua; */
	margin: 15px;
}

.tovar{
	width: 100%;
}

.card_info{
	margin: 15px;
	width: 1000px;
}

.p1{
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	margin-bottom: 10px;
}

.p2{
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	margin-bottom: 10px;
}

.p3{
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	margin-bottom: 10px;
}


.in_card{
	color: white;
	background: #E40000;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
	
}

.niz{
	display: flex;
  	align-items: center;
  	justify-content: space-between;
}

/* asdasdasd */

.quantity_inner * {
    box-sizing: border-box;    
}    
.quantity_inner {
    display: inline-flex;
    border-radius: 26px;
    border: 4px solid #000000;
}        
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
    height: 40px;
    width: 40px;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}
.quantity_inner .quantity {
    width: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
    stroke: #000000;
    stroke-width: 4;
    transition: 0.5s;
    margin: 10px;
}    
.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
    stroke: #000;
}

.Sostoitiz{
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	margin-bottom: 20px;
}







.tovars2{
	/* display: flex;
	justify-content: space-between; */
	display: grid;
  	grid-gap: 50px;
  	grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
	margin-bottom: 20px;
}

.a_card2{}

.cardd2{
	width: 234px;
	border-radius: 20px;
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
	transition: 0.4s;
}

.card2{
	/* background-color: gray; */
	
}

.cardd2:hover{
	transition: 0.4s;
	box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.25);
}

.card_image2{
	/* background-color: aqua; */
	margin: 15px;
}

.tovar2{
	width: 100%;
	height: 100%;
}

.tovar_name2{
	text-align: center;
}

.tovar_info2{
	display: flex;
	justify-content: space-between;
}

.tovar_name2{
	margin-bottom: 20px;
}

.tovar_info2{
	margin-bottom: 20px;
	margin: 15px;
}

.in_card2{
	color: white;
	background: #E40000;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
}

.cena2{
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
}