.menu_bar a{
	color: black;
}
.card-div{
	color: black;
	border-radius: 20px;
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
	transition: 0.4s;
}
.card-div:hover{
	transition: 0.4s;
	box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.25);
}
.in_card{
	background-color: #E40000;
	color: white;
	border-radius: 5px;
	border: 0px;
}


/* Скрыть кнопку "В корзину" на мобильных устройствах */
@media (max-width: 767px) {
    .addToCartButton.desktop {
        display: none;
    }
    .addToCartButtonMobile.mobile {
        display: inline-block;
    }
}

/* Скрыть кнопку "+" на десктопе */
@media (min-width: 768px) {
    .addToCartButtonMobile.mobile {
        display: none;
    }
}





/* Стили для иконки бургер-меню */
.burger-icon {
    cursor: pointer;
}

/* Скрытие списка ссылок на мобильных устройствах */
.nav-links-mobile {
    display: none;
}

/* Стили для бургер-меню */
.burger-menu {
    margin-right: 10px; /* Для отступа от логотипа */
}

/* Стили для мобильных устройств */
@media (max-width: 991px) {
    /* Показывать список ссылок для мобильных устройств */
    .nav-links-mobile {
        display: flex;
        flex-direction: column;
        padding-left: 0; /* Убираем отступ у списка */
    }

    /* Скрыть список ссылок для десктопов */
    .nav-links {
        display: none;
    }
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	position: fixed;
	width: 70%;
}
@media (max-width: 768px) {
    .alert {
        width: 92%;
    }
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success a {
    color: #0c662e;
    text-decoration: underline;
}

.alert-success a:hover {
    color: #08401e;
}


/* Стили для мобильных устройств */
@media only screen and (max-width: 768px) {
    .categories-wrapper {
        overflow-x: scroll !important; /* Включаем горизонтальный скроллинг */
        white-space: nowrap !important; /* Предотвращаем перенос текста на новую строку */
    }

    .categories-wrapper .nav-pills {
        display: inline-block !important; /* Устанавливаем встроенный блочный дисплей */
    }

    .categories-wrapper .nav-item {
        display: inline-block !important; /* Устанавливаем встроенный блочный дисплей для элементов списка */
        margin-right: 10px !important; /* Добавляем немного отступа между элементами */
    }
}

/* Скрыть на десктопе */
@media (min-width: 768px) {
	.menu_bar div ul{
		justify-content: space-between;
	}
}