/* main */





.info{
	/* display: flex; */
	/* justify-content: space-between; */
	
}

.adminpamell{
	padding: 10px 15px;
	background-color: #e23b28;
	border-radius: 10px;
	margin: 10px 0px;
}

.adminpamell-div{
	margin: 15px 0px;
}

/* .submit{
	padding: 10px 15px;
	background-color: #e23b28;
	border-radius: 10px;
	margin: 10px 0px;

	color: white;
}

.submit:hover{
	cursor: pointer;
} */

.exit_btn{
	background-color: #e23b28;
	color: white;
	border: none;
	border-radius: 20px;
}

.name{
	font-weight: normal;
	font-size: 18px;
	margin: 5px 0px;
}



.order {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.order h2 {
    color: #333;
}

.order p {
    margin: 5px 0;
}

.tovar, .coupon {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px 0;
}

.tovar p, .coupon p {
    margin: 5px 0;
}




.expected{
	color: #3498db;
}

.preparing{
	color: #f39c12;
}

.ready{
	color: #4CAF50;
}

.taken{
	color: #2ecc71;
}

.canceled{
	color: #e74c3c;
}


.tovar-image{
	max-width: 100px;
}

.tovar{
	display: flex;
}

.tovar_info{
	/* display: flex; */
  	align-items: center;
  	justify-content: center;
	margin: auto 25px;
}

.tovar_images{
	align-items: center;
  	justify-content: center;
	margin: auto 0px;
}


.card-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

.card-div:hover {
    transition: 0.4s;
    box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.25);
}

.card_image {
    position: relative;
    width: 100%;
    padding-top: 75%; /* Соотношение сторон 4:3 */
}

.card_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
	border: 0px;
}

.tovar_name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tovar_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.in_card {
    background-color: #E40000;
    color: white;
    border-radius: 5px;
    border: 0px;
}

@media (max-width: 768px) {
    .card-div {
        padding: 1rem;
    }
    .tovar_info {
        flex-direction: column;
        align-items: flex-start;
    }
    .tovar_info .in_card {
        width: 100%;
        margin-top: 0.5rem;
    }
}

@media (max-width: 767px) {
    .addToCartButton.desktop {
        display: none;
    }
    .addToCartButtonMobile.mobile {
        display: inline-block;
    }
}

/* Скрыть кнопку "+" на десктопе */
@media (min-width: 768px) {
    .addToCartButtonMobile.mobile {
        display: none;
    }
}